@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');
:root{
--font1:verdana,sans-serif;
--font2:'margarine'
  
}
*{
    margin: 0;
    padding: 0;
}
.margarine-regular {
    font-family: "Margarine", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
   
html,body{
    min-height: 100vh;
    background-color: darkgray;
   
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font2);
}
section.nomal{

}
section.imagem{
background-color: grey;
color: white;
background-size: cover;
box-shadow: 6px 6px 13px 0 rgba(67, 66, 66, 0.872);
background-attachment: fixed;

}
section#img1{
background-image: url(imagens/background001.jpg);
background-position: right center;
}
section#img2{
background-image: url(imagens/background002.jpg);
background-position: left bottom;
}
section.imagem >p{
   display: inline-block;
   padding: 10px;
    background-color: rgba(22, 23, 23, 0.81);
    text-shadow: 1px 1px 0 black;
}
header{
    background-color: black;
    color: white;
    text-align: center;

}
header>h1{
    font-variant: small-caps;
    padding-top: 25px;
}
header>p{
    padding-bottom: 25px;
}
header a ,footer a{
    color: blue;
    text-decoration: none;
    font-weight: bolder;

}
header a:hover, footer a:hover{
    text-decoration: underline;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding-bottom: 12px;
}